
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div>App compontent</div>

<button (click)="onClickMe()">Click me!</button>


<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>
<testc [parentCount]="countClicked"></testc>

<router-outlet></router-outlet>